/**/
.container-principal{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #3baada;
}

.formulario{
    background-color: rgb(77, 46, 215);
    padding: 20px; /* espaçamento interno*/
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0,0,1);/*sombra suave*/
    width: 350px;
    


}
form h3{
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 24px;

}
 .imagem img{
    border-radius: 100px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    
}

.imagem {
    justify-content: center;
}
input[type="text"], input[type="password"]{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: rgb(13, 159, 199);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    
}
input[type="submit"]:hover{
    background-color: rgb(8, 8, 78);
    
}